body {
  color: white;
  background-color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.4rem;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient(green, black, black, black, black);
}

.home {
  border: 1px solid lightblue;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px lightblue inset;
  display: flex;
  margin-left: 2.5rem;
  padding: 0.3rem;
  font-size: 2rem;
}

.home::before {
  content: '';
  background-image: url('/assets/images/Kiyodo Logo - Watermark Ver. (150x150).jpg');
  position: relative;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-right: 1rem;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0;
  margin-right: 2rem;
  padding: 0;
  list-style: none;
}

.navigation li {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.bio {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.profile-img {
  max-height: 240px;
  border: 2px solid green;
  border-radius: 100%;
  box-shadow: 0 0 30px 1px green;
  overflow: hidden;
}

.bio-info {
  border: 1px solid green;
  border-radius: 10px;
  box-shadow: 0 0 30px 1px green;
  display: flex;
  justify-items: center;
  padding: 2rem;
  max-width: 30%;
  font-size: 1.1rem;
}

.feature-content {
  position: relative;
  border: 1px solid lightblue;
  margin-bottom: 1rem;
}

#feature-img-link {
  display: flex;
  content: '';
  background-image: url('/assets/images/screencapture-kiyodosan-github-io-UCI-BOOTCAMP-WEEK-1-CODE-REFACTORING-2023-10-08-19_54_17.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 100%;
  height: 40rem;
}

/*
.feature-bg-img img {
  width: 100%;
  height: 100%;
  max-height: 40rem;
  object-fit: cover;
  overflow: hidden;
}
*/

.secondary-content {
  margin: 1rem 1rem;
}

.secondary-section {
  border: 1px solid lightblue;
  position: relative;
  display: flex;
}

/* Creates a border glow when hovered over */
.secondary-section:hover {
  box-shadow: 0px 0px 15px 1px white;
}

.secondary-link {
  display: flex;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 100%;
  height: 10rem;
}

#secondary-img-1 {
  background-image: url('/assets/images/secondary-banner-placeholder.jpg');
}

#secondary-img-2 {
  background-image: url('/assets/images/secondary-banner-placeholder.jpg');
}

#secondary-img-3 {
  background-image: url('/assets/images/secondary-banner-placeholder.jpg');
}

#secondary-img-4 {
  background-image: url('/assets/images/secondary-banner-placeholder.jpg');
}

/*
.secondary-section img {
  width: 100%;
  height: 100%;
  max-height: 10rem;
  object-fit: cover;
  overflow: hidden;
}
*/

.bg-img-info {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  position: absolute;
  top: 0;
  margin: 0.5rem;
  padding: 0.2rem;
  border: 1px solid green;
  /* font-size: 18px; */
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  box-shadow: 0 0 10px 1px lightblue;
  background-color: black;
  /*
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  */
}

/* Testing out text glow effects */
/*
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
*/

.bg-img-info-rtl {
  right: 0;
}

.bg-img-info-ltr {
  left: 0;
}

.social-media {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Creates a border glow when hovered over */
.social-media > * > a:hover {
  box-shadow: 0px 0px 15px 1px white;
}

.social-media-box-left {
  display: flex;
  justify-content: flex-end;
}

.social-media-box-right {
  display: flex;
}

.social-link {
  display: flex;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 117px;
  height: 43px;
}

#social-img-1 {
  background-image: url('/assets/images/LinkedIn - button.jpg');
}

#social-img-2 {
  background-image: url('/assets/images/G+ - button.jpg');
}

#social-img-3 {
  background-image: url('/assets/images/YouTube - button.jpg');
}

#social-img-4 {
  background-image: url('/assets/images/Twitter - button.jpg');
}

.footer {
  display: flex;
  min-height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-image: linear-gradient(black, black, black, green);
}

.contact-info-box {
  display: flex;
  align-items: center;
}

#phone::before {
  content: '';
  background-image: url('/assets/images/phone icon.png');
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  width: 32px;
  height: 32px;
  background-size: cover;
  margin-right: 0.5rem;
}

#email::before {
  content: '';
  background-image: url('/assets/images/email icon.png');
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  width: 37px;
  height: 37px;
  background-size: cover;
  margin-right: 0.5rem;
}